body {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    opacity: 0;
    user-select:none;
}

.progress {
    background: #D3D3D3;
    width: 80%;
}

    .progress .bar {
        width: 30%;
        height: 50px;
    }

.guiBox {
    margin: 5px;
    border: ridge 10px;
    border-color: dimgrey;
    background-color: lightgray;
}

.hidden {
    visibility: hidden !important;
}

#learnTitle {
    font-size: 2vw;
}

#resetTitle {
    font-size: 2vw;
    opacity:0;
}

#resetBtn {
    font-size: 2vw;
    opacity: 0;
    border:double 2px gold;
    background-color:dodgerblue;
    width:40%;
    height:40px;
    user-select:element;
    cursor:pointer;
    position:absolute;
    top:60%;
    left:30%;
    text-align:center;
    vertical-align:central;
}

#unlockList {
    text-align: center;
    opacity: 0;
    font-size: 1.45vw;
    width:20%;
    position:absolute;
    right:0;
    top:10%;
    font-size:2vw;
}

#unlockDisp {
    opacity:0;
    position: absolute;
    left: 25%;
    top: 25%;
    width: 35%;
    height: 35%;
}
    #unlockDisp .title {
        font-size:2.25vw;
        font-weight:bold;
        text-decoration:underline;
        margin-bottom:10px;
        text-align:center;
        width:100%;
    }
    #unlockDisp .desc {
        font-size: 1.1vw;
        font-style:italic;
    }


#tempDiv {
    text-align: center;
    opacity: 0;
    font-size: 1.15vw;
}

#infoDiv {
    width: 35%;
    float: right;
    font-size:1.5vw;
}

#fuelDiv {
    font-size: 1.15vw;
    text-align: center;
    opacity: 0;
}
.left {
    width: 25%;
    float: left;
}

#itemDiv {
    text-align: center;
    opacity: 0;
    font-size: 1.45vw;
}

#actionDiv {
    text-align: center;
    opacity: 0;
    font-size: 1.45vw;
}

.hidden{
    display:none !important;
}

button {
    font-family: Courier New, Courier, monospace;
    font-weight: bold;
    font-size: 1.35vw;
    cursor: pointer;
}